

<div class="card container c-login" style="width: 50rem;">
        <img src="https://firebasestorage.googleapis.com/v0/b/se-project-43eea.appspot.com/o/undraw_Login_re_4vu2.svg?alt=media&token=d40da6ad-ee5b-4c90-a39e-69b2dfaee14c" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Staff</h5>
        <button class="btn btn-lg btn btn-block google-plus" (click)="loginWithGoogle()">
                <i class="fab fa-google-plus-g"></i>
                Login with Google+
        </button>
          
        </div>
</div>

